Source: com.github.hannesschulze.optimizer
Section: x11
Priority: optional
Maintainer: Hannes Schulze <haschu0103@gmail.com>
Build-Depends: debhelper (>= 10.5.1),
               libgranite-9-dev,
               gettext,
               libgee-0.8-dev,
               libgtk-4-dev (>= 4.22),
               meson (>= 0.59.0),
               valac (>= 0.56),
               libgtop2-dev
Standards-Version: 4.1.1

Package: com.github.hannesschulze.optimizer
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Clean up your system
 Find out what's eating up your system resources and delete unnecessary files from your disk.